
<h1>Burgers!</h1>

<h2>Burgers to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <div>
    <p>{{this.name}}
    <button class="eatIt" id = {{this.id}}>Eat It!</button></p>
      {{!-- {{> burgers/burger-block devoured=true}} --}}
      </div>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <p>{{this.name}}
    <button class="delete-burger" id = {{this.id}}>Delete It!</button></p>
      {{!-- {{> burgers/burger-block devoured=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

  <form action="/burger/create" method="POST">
    <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name" required>
  </div>

  <button id="addburger" type="submit">Add Burger</button></form>
